// #wrapper {
// 	height: 100vh;
// }
// * {
// 	border: 1px solid red;
// }
body {
	background-color: #DCDCDC;
	// display: none;
}

svg {
	width: inherit;
	height: inherit;
}

.row {
	margin: 40px 0;
	@include MQ(S) {
		margin: 50px 0;
	}
}

.top-row {
	margin: 5vh 0;
	max-height: 30px;
	@include MQ(S) {
		margin: 20px 0;
		max-height: 40px
	}
}
.menu-button {
	height: 10vh;
	width: 50px;
	cursor: pointer;
	@include MQ(S) {
		width: 100px;
		height: 10vh;
	}

}

.head {

	svg {
		height: 45px;
		@include MQ(S) {
			height: 65px;
		}
	}
}


.contact-row {
	margin: 50px 0;
	@include MQ(S) {
		margin: 100px 0;
	}
	.link {
		margin: 20px 0;
  		@include MQ(S) {
    		margin: 20px 0;
  }
	}
}

.about-container {
	height: 35vh;
	padding-top: 0;
	@include MQ(S) {
		height: 50vh;
		// padding-top: 200px;
	}
	.svg-container {
		height: inherit;
		svg {
			height: inherit;
		}
	}
}
#wrapper {
	opacity: 0;
	height: 100vh;
}