.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 23px; padding: 0; line-height: 23px;
    border: 0px solid #999999; border-radius: 11px;
    background-color: #FF1919;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 11px; margin: 6px;
    background: #000000;
    position: absolute; top: 0; bottom: 0;
    right: 13px;
    border-radius: 11px;
    // box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #050505;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #050505;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #FF1919; 
    // box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}