.content-style {
	font-size: 40px;
	margin-top: 0;
	.heading svg {
		height: 34px;
		@include MQ(S) {
			height: 45px;
		}
	}
	h3 {
		font-size: 1.5rem;
		@include MQ(S) {
			font-size: 2.5rem;
		}
	}
	h4 {
		font-size: 1.2rem;
		@include MQ(S) {
			font-size: 2.2rem;
		}
	}
	h5 {
		margin: 10px 0 0 0;
		font-size: 0.9rem;
		@include MQ(S) {
			font-size: 1.9rem;
		}
	}
	ul {
		padding-left: 0;

		li {
			font-size: 0.75rem;
			@include MQ(S) {
				font-size: 1.4rem;
			}
		}
	}
	a {
			text-decoration: none;
			color: inherit;
			&:hover {
				color: #6E5F60
			}
		}
	.row{
		margin: 10px 0;
	}
	.col-md-4 ul{
		margin-bottom: 0;
	}
	.dev-skills {
		padding: 0;
	}
}