svg > * {
  fill: #000;
  stroke: #000;
  stroke-width: 0.3px;
}

.menu-button svg:hover > * {
  fill: #FF1919;
  stroke: #000;
  stroke-width: 1px;
}

.svg-container svg{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.link {
  margin: 40px 0;
  @include MQ(M) {
    margin: 100px 0;
  }
}

#name {
  max-width: 60%;
  width: 60%;
}

#link {
  max-width: 30%;
  width: 30%;
}