svg > * {
  fill: #000;
  stroke: #000;
  stroke-width: 0.01px;
}

.svg-container svg{
    max-width: 100%;
    width: 100%;
    height: auto;
}

#name {
  max-width: 60%;
  width: 60%;
}

#link {
  max-width: 30%;
  width: 30%;
}