svg > * {
  fill: #000;
  stroke: #000;
  stroke-width: 1px;
}

.hover-red svg:hover > * {
  fill: #6E5F60;
  stroke: #000;
  stroke-width: 3px;
}

.svg-container svg{
    max-width: 100%;
    width: auto;
    // height: auto;
    padding: 10px;
}

.link {
  margin: 40px 0;
  @include MQ(M) {
    margin: 50px 0;
  }
  svg {
    height: 30px;
    @include MQ(M) {
      height: 65px;
    }
  }
}

// .link svg {
//   height: 30px;
//   @include MQ(M) {
//     height: 65px;
//   }
// }

#name {
  max-width: 60%;
  width: 60%;
  @include MQ(M) {
      margin-top: 50px;
  }
}


// #link {
//   max-width: 100%;
//   min-height: 10px;
//   min-height: 10px;
// }
